@import "./consts.scss";
@import "./font.scss";

body {
  background: #212121;
  margin: 0;
  padding: 0;

  color: rgba(255,255,255,.87);
  font-size: 16px;
  line-height: 32px;
}

strong {
  color: mix($primary, white, 50%);
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: dashed;
  cursor: pointer;
}

code {
  padding: 5px 10px;
  border-left: $primary 5px solid;
  background: change-color($primary, $alpha: .2);
  @include monospace;
  margin: 0 5px;
}

select, input {
  font-size: 18px;
  background: #333;
  color: white;
  border: none;
  outline: 0;
  padding: 10px 20px;
}

.mr-param {
  margin-top: 20px;
  &-title {
    color: mix($primary, white, 50%);
    font-weight: 900;
    font-size: 18px;
  }

  &-input, &-select {
    margin-left: 30px;
    display: block;
    margin-top: 20px;
  }

  &-input {
    width: 100%;
  }

  &-desc {
    font-size: 16px;
    color: rgba(255,255,255,.38);
  }
}

.mr-hint {
  font-size: 12px;
  margin-left: 30px;
  margin-top: 5px;
}

.mr-sep {
  height: 10px;
  margin: 40px 0;
  background: linear-gradient(
    45deg,
    $primary 25%,
    transparent 25%,
    transparent 50%,
    $primary 50%,
    $primary 75%,
    transparent 75%,
  );
  background-size: 10px 10px;
}

.mr-step {
  margin-top: 20px;

  &-header {
    display: flex;
    align-items: center;
    background: change-color($primary, $alpha: .2);
  }

  &-op {
    font-size: 20px;
    @include monospace;
  }

  &-number {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include monospace;
    font-size: 18px;
    line-height: 20px;
    margin-right: 20px;
    background: $primary;
    padding: 10px 15px;

    &-hint {
      font-size: 12px;
      line-height: 14px;
      color: rgba(255,255,255,.38);
      @include sans;
    }
  }

  &-file, &-script {
    padding: 20px 30px;
    background: rgba(0,0,0,.2);
    white-space: pre-wrap;
    font-size: 14px;
    @include monospace;
  }

  &-path {
    text-align: center;
    margin: 20px 0;
    &::before {
      opacity: .38;
    }
  }

  &-append &-path::before {
    content: '$ cat >> '
  }

  &-replace &-path::before {
    content: '$ cat > '
  }
}