@import "./consts.scss";
@import "./font.scss";

body {
  background: #212121;
  margin: 0;
  padding: 0;

  color: rgba(255,255,255,.87);
  font-size: 16px;
  line-height: 32px;
}

strong {
  color: mix($primary, white, 50%);
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: dashed;
  cursor: pointer;
}

code {
  padding: 5px 10px;
  border-left: $primary 5px solid;
  background: change-color($primary, $alpha: .2);
  @include monospace;
  margin: 0 5px;
}

select, input {
  font-size: 18px;
  background: #333;
  color: white;
  border: none;
  outline: 0;
  padding: 5px 10px;
}

.mr-param {
  margin-top: 20px;
  &-title {
    color: mix($primary, white, 50%);
    font-weight: 900;
    font-size: 18px;
  }

  &-input, &-select {
    margin-left: 20px;
  }
}

.mr-hint {
  font-size: 12px;
  margin-left: 20px;
}