@import "./font.scss";

.container {
  max-width: 760px;
  margin: 0 auto;
  padding: 20px 40px;
}

.title {
  @include monospace;
  font-size: 48px;
  margin-top: 40px;
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .title {
    margin-top: 0;
  }

  .sep {
    font-size: 24px;
    margin: 0 20px;
    color: rgba(255,255,255,.38);
  }

  margin-top: 40px;
}

.hint {
  color: rgba(255,255,255,.38);
  font-size: 12px;
  line-height: 24px;
  @include sans;
}

.breadcrumb {
  font-size: 12px;
  margin-top: 40px;
  @include monospace;

  a {
    text-decoration: none;
    opacity: .38;
    transition: opacity .2s ease;

    &:after {
      content: '>';
      margin: 0 5px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.breadcrumb + .title-row {
  margin-top: 0;
}